BasicSR @ git+https://github.com/dercodeKoenig/BasicSR
facexlib @ git+https://github.com/dercodeKoenig/facexlib
gfpgan @ git+https://github.com/dercodeKoenig/GFPGAN
numpy
opencv-python
Pillow
torch>=2.9
torchvision
tqdm

torchao
rotary-embedding-torch
bitsandbytes
